
body {
 margin: 0;
 padding: 0;
 background: #383838;
}
 /*@font-face {
  font-family: "P";
  src: url("pacifico.ttf");
  } */
.search-box {
 position: absolute;
 top: 50%;
 left: 50%;
 transform: translate(-50%, -50%);
 background: Grey;
 height: 40px;
 border-radius: 40px;
 padding: 10px;
}

.search-box:hover > .search-txt {
 width: 340px;
 padding: 0 6px;
 color: white;
}

.search-box:hover > .search-btn {
 background: #006600;
 color: white;
}

.search-btn {
 color: #006600;
 float: right;
 width: 40px;
 height: 40px;
 border-radius: 50%;
 background: Grey;
 display: flex;
 justify-content: center;
 align-items: center;
 transition: 0.4s;
 color: none;
 cursor: pointer;
}

.search-btn > i {
 font-size: 30px;
 color: white;
}

.search-txt {
 border: none;
 background: none;
 outline: none;
 float: left;
 padding: 0;
 color: #006600;
 font-size: 16px;
 transition: 0.4s;
 font: white;
 line-height: 40px;
 width: 0px;
 font-weight: bold;
}
input::placeholder {
  color: white;
}
.box{
	position: relative;
	width: 400px;
	font-size: 16px;
}
.myBtn{
	position:center;
	
}

body {font-family: Arial, Helvetica, sans-serif;}

/* The Modal (background) */
.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 2; /* Sit on top */
    left: 0;
    top: 0;
    width:100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: #006600; /* Fallback color */
    background-color: rgba(0,0,0,0.8); /* Black w/ opacity */
    -webkit-animation-name: fadeIn; /* Fade in the background */
    -webkit-animation-duration: 0.4s;
    animation-name: fadeIn;
    animation-duration: 0.4s
}
/* Modal Content */
.modal-content {
    position: relative;
    bottom: 0;
	margin: auto;
    background-color: Grey;
    width: 90%;
    -webkit-animation-name: animatetop;
    -webkit-animation-duration: 0.4s;
    animation-name: animatetop;
    animation-duration: 0.4s
}

/* The Close Button */
.close {
    color: white;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
}

.modal-header {
    padding: 2px 16px;
    background-color: #006600;
    color: white;
}

.modal-body {padding: 2px 16px;}

.modal-footer {
    padding: 2px 16px;
    background-color: #5cb85c;
    color: white;
}

/* Add Animation */
@-webkit-keyframes animatetop {
    from {bottom: -200px; opacity: 0} 
    to {bottom: 0; opacity: 1}
}

@keyframes animatetop {
    from {bottom: -500px; opacity: 0}
    to {bottom: 0; opacity: 1}
}

@-webkit-keyframes fadeIn {
    from {opacity: 0} 
    to {opacity: 1}
}

@keyframes fadeIn {
    from {opacity: 0} 
    to {opacity: 1}
}
